services:
  db:
    container_name: the-wedding-game-db
    image: postgres:alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: the-wedding-game-api
      POSTGRES_PASSWORD: abcd@123
      POSTGRES_DB: the-wedding-game
    volumes:
      - pgdata:/var/lib/postgresql/data

  s3-ninja:
    container_name: the-wedding-game-s3ninja
    image: scireum/s3-ninja:latest
    ports:
      - "127.0.0.1:9445:9000"
    volumes:
      - s3ninja-data:/home/sirius/data

volumes:
  pgdata:
  s3ninja-data: