name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
      branches:
          - main
  workflow_dispatch:

jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Setup Go
            uses: actions/setup-go@v2
            with:
              go-version: 1.23
              cache-dependency-path: subdir/go.sum

#          - name: Install Docker using Docker's official script
#            run: |
#              curl -fsSL https://get.docker.com -o get-docker.sh
#              sudo sh get-docker.sh
#            continue-on-error: false

          - name: Install Docker Compose
            run: |
              sudo curl -L "https://github.com/docker/compose/releases/download/v2.3.3/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
              sudo chmod +x /usr/local/bin/docker-compose
              docker-compose --version
            continue-on-error: false

          - name: Install dependencies
            run: go mod download

          - name: Build project
            run: go build -v ./...

          - name: Run tests
            run: go test -v ./... -cover -coverprofile=coverage.txt

          - name: Upload coverage reports to Codecov
            uses: codecov/codecov-action@v5
            with:
              token: ${{ secrets.CODECOV_TOKEN }}
              slug: the-wedding-game/the-wedding-game-api
